html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
hr {
  overflow: visible; /* 2 */
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0; /* 2 */
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
}
button,
input {
  overflow: visible; /* 1 */
}
button,
select {
  text-transform: none; /* 1 */
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  display: table; /* 1 */
  box-sizing: border-box; /* 1 */
  padding: 0; /* 3 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
  color: inherit; /* 2 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  outline-offset: -2px; /* 2 */
  -webkit-appearance: textfield; /* 1 */
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit; /* 2 */
  -webkit-appearance: button; /* 1 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
hr {
  overflow: visible; /* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0; /* 2 */
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
}
button,
input {
  overflow: visible; /* 1 */
}
button,
select {
  text-transform: none; /* 1 */
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  display: table; /* 1 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 3 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
  color: inherit; /* 2 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  outline-offset: -2px; /* 2 */
  -webkit-appearance: textfield; /* 1 */
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit; /* 2 */
  -webkit-appearance: button; /* 1 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
:root {
  --color-gray-100: #fff;
  --color-gray-150: #f9f9f9;
  --color-gray-200: #f5f6f7;
  --color-gray-250: #efefef;
  --color-gray-260: #e5e7ea;
  --color-gray-300: #dadada;
  --color-gray-400: #ccd0d5;
  --color-gray-500: #bec3c9;
  --color-gray-550: #adadad;
  --color-gray-600: #8d949e;
  --color-gray-650: #757474;
  --color-gray-700: #606770;
  --color-gray-800: #444950;
  --color-gray-850: #303846;
  --color-gray-900: #2c323c;
  --color-gray-950: #1c1e21;
  --color-font: var(--color-gray-900);
  --color-card: var(--color-gray-100);
  --color-blue-200: #ebeef5;
}
html.nightmode {
  --color-gray-100: #1c1e21;
  --color-gray-150: #2c323c;
  --color-gray-200: #303846;
  --color-gray-250: #444950;
  --color-gray-260: #555b64;
  --color-gray-300: #606770;
  --color-gray-400: #757474;
  --color-gray-500: #8d949e;
  --color-gray-550: #959595;
  --color-gray-600: #bec3c9;
  --color-gray-650: #ccd0d5;
  --color-gray-700: #dadada;
  --color-gray-800: #eaecef;
  --color-gray-850: #f5f6f7;
  --color-gray-900: #f9f9f9;
  --color-gray-950: #fff;
  --color-font: var(--color-gray-600);
  --color-card: var(--color-gray-150);
  --color-blue-200: #444950;
}
::selection {
  color: #fff;
  background-color: #8be0e1;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif, Arial;
  font-size: 14px;
  line-height: 2;
  color: var(--color-font);
  background-color: var(--color-gray-250);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif, Arial;
  font-weight: 700;
  line-height: 1.5;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.875em;
}
h6 {
  font-size: 0.85em;
}
p {
  margin: 0 0 1rem;
}
a {
  text-decoration: none;
  color: #058ed2;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
img,
video,
iframe {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
hr {
  margin: 1rem 0;
  border: 2px dashed #b8dcfd;
  height: 0;
}
blockquote {
  margin: 0;
  border-left: 5px solid var(--color-gray-300);
  padding: 0 1rem;
  background-color: var(--color-gray-200);
}
blockquote cite::before {
  content: '--';
  padding: 0 0.25rem;
}
code {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  border-radius: 3px;
  padding: 1px 5px;
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace;
  font-size: 0.95em;
  color: var(--color-gray-700);
  background-color: var(--color-gray-200);
}
dt {
  font-weight: 700;
}
dd {
  margin: 0;
  padding: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid var(--color-blue-200);
  padding: 0 5px;
}
acronym,
abbr {
  cursor: help;
}
kbd {
  display: inline-block;
  border: 1px solid var(--color-gray-500);
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
  font-family: consolas, 'Liberation Mono', courier, monospace;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  color: var(--color-gray-850);
  background-color: var(--color-gray-150);
  -webkit-box-shadow: 0 -1px 0 var(--color-gray-300) inset;
  box-shadow: 0 -1px 0 var(--color-gray-300) inset;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
[data-popover] {
  position: relative;
}
[data-popover]::before {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  font-family: sans-serif, Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 2;
  white-space: nowrap;
  color: #fff;
  background-color: rgba(0,0,0,0.9);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  text-shadow: none;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
  -o-transition: opacity 0.2s ease, -o-transform 0.2s ease;
  -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  -webkit-transform: translate(-50%, -70%);
  -moz-transform: translate(-50%, -70%);
  -o-transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);
  pointer-events: none;
}
[data-popover]::before {
  content: attr(data-popover);
  border-radius: 4px;
  padding: 0.2rem 0.6rem;
}
@media (min-width: 991.98px) {
  [data-popover-pos='up']:hover::before {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate(-50%, -120%);
    -moz-transform: translate(-50%, -120%);
    -o-transform: translate(-50%, -120%);
    -ms-transform: translate(-50%, -120%);
    transform: translate(-50%, -120%);
  }
}
.stun-message {
  position: fixed;
  top: 1rem;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.stun-alert {
  position: relative;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.stun-alert-success {
  color: #52c41a;
}
.stun-alert-success ~ i {
  color: #52c41a;
}
.stun-alert-info {
  color: #1890ff;
}
.stun-alert-info ~ i {
  color: #1890ff;
}
.stun-alert-warning {
  color: #faad14;
}
.stun-alert-warning ~ i {
  color: #faad14;
}
.stun-alert-error {
  color: #f5222d;
}
.stun-alert-error ~ i {
  color: #f5222d;
}
.stun-alert-description {
  margin-left: 0.5rem;
}
.anime-close::before,
.anime-close::after {
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  -o-transition: -o-transform 0.2s ease;
  -ms-transition: -ms-transform 0.2s ease;
  transition: transform 0.2s ease;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.anime-close::after {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.anime-close:hover::before,
.anime-close:hover::after {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
body {
  position: relative;
}
body::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  height: 100vh;
  z-index: -2;
  background: url("/images/bg_body.jpg") no-repeat center/cover;
}
.container {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  overflow: hidden; /* !!! */
  position: relative;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.footer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.main {
  width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.main-inner {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  font-size: 16px;
}
.content-wrap {
  width: calc(100% - 330px);
  float: right;
}
.content-wrap--noside {
  float: none;
  margin: 0 auto;
}
.content {
  width: 100%;
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: var(--color-card);
}
.content img {
  border: 1px solid var(--color-gray-300);
  border-radius: 3px;
  padding: 0.2rem;
}
.content h1:hover .heading-link,
.content h2:hover .heading-link,
.content h3:hover .heading-link,
.content h4:hover .heading-link,
.content h5:hover .heading-link,
.content h6:hover .heading-link {
  visibility: visible;
}
.heading-link {
  display: inline-block;
  visibility: hidden;
  margin: -10px 0 0 -20px;
  padding-right: 5px;
  width: 20px;
  height: 16px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  color: var(--color-font);
}
.content-home {
  padding: 0 !important;
  background-color: transparent;
}
.pullquote.left {
  text-align: left;
}
.pullquote.right {
  text-align: right;
}
.post-body h1,
.post-body h2 {
  border-bottom: 1px solid var(--color-gray-250);
  padding-bottom: 0.3em;
}
.table-container {
  overflow: auto;
  margin-bottom: 1rem;
}
.header-inner {
  width: 100%;
  font-size: 18px;
  background-color: #2d2e30;
  height: 60vh;
}
.header-inner--bgcolor {
  background-color: #333;
}
.header-inner--height {
  height: 60px !important;
}
.header-nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  -webkit-transition: -webkit-transform 0.2s ease-out, background-color 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease-out, background-color 0.2s ease;
  -o-transition: -o-transform 0.2s ease-out, background-color 0.2s ease;
  -ms-transition: -ms-transform 0.2s ease-out, background-color 0.2s ease;
  transition: transform 0.2s ease-out, background-color 0.2s ease;
}
.header-nav--fixed {
  position: fixed;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.header-nav--sticky {
  position: fixed;
  background-color: #333;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.header-nav.slider--down {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.header-nav.slider--up {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.header-nav.slider--clear {
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.header-nav-inner {
  margin: 0 auto;
  padding: 20px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  width: 100%;
  height: 100%;
}
.header-nav-menubtn {
  display: none;
  padding: 0 0.5rem;
  line-height: 60px;
  color: #f5f6f7;
  cursor: pointer;
}
.header-nav-menu-item__link,
.header-nav-submenu-item__link {
  display: block;
  color: #f5f6f7;
}
.header-nav-menu-item__icon,